<div  ng-controller="peopleCtrl">
    <div class="row">
        <div class="col-md-12">
            <h3>Company Financial Contacts</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="people-box" ng-repeat="person in people | limitTo:4">
                <div class="people-image">
                    <span ng-show="!p.image">
                        <img src="img/placeholdericon.png" class="person-img no-img"/>
                    </span>
                    <span ng-show="person.image">
                        <img src="{{person.image}}" class="person-img yes-image" />
                    </span>
                </div>
                <div class="people-info">
                    <div class="people-first">{{person.name}}</div>
                    <div class="people-second">{{person.title}}</div>
                    <div class="people-second">{{person.email}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
